<footer>
    <div >
        <p>App desenvolvido por <a href="https://github.com/rhaynnerliberato" 
            target="_blank" rel="noreferrer">Rhaynner Liberato</a></p>
    </div>
</footer>

</body>
</html>